/*---------------------------------
        MaggsWEB LOGO   #logo
-----------------------------------*/
@import url('https://www.chrismaggs.co.uk/css/mwcsslogo.css');

#logo {
    position:absolute;
    top: 7px;
    left:0;
}

#logo #logoLeft {
    width: 120px;
}

#logo #logoRight {
    left: 121px;
    width: 46px;
}

/*---------------------------------
        Styles
-----------------------------------*/

html, body {
    height: calc(100% - 40px);
}

body {
    background-color: #f2f2f2;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    height: 64px;
    margin-bottom: 0;
}

.container {
    position: relative;
}

.content {
    background-color: #ffffff;
    padding: 30px 20px;
    min-height: 100%;
    text-align: center;
}

.bgimage {
    background-image: url('https://www.chrismaggs.co.uk/images/schematic.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 520px;
}

h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin: 100px 0 20px;
    color: #000000;
    text-shadow: 1px 1px 1px #686868;
}

h2 {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    letter-spacing: 1px;
    color: #333333;
}

h1 + hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
    width: 220px;
}

a {
    color: #298CAD;
    text-decoration: none;
}
